{{set . "title" .board.Name}}
{{template "header.html" .}}

{{$board := .board}}
<h2>Game: {{$board.Name}}</h2>

<h3>Your Employee Id:</h3>
<input id="from-user-id" type="text" name="userId" placeholder="Your Employee Id" value="1">

<h3>Players:</h3>
{{range .players}}
  <ul class="board-users">
    <li>
      {{.FirstName}} {{.LastName}}
      <a class="js-challenge" data-board-id="{{$board.Id}}" data-user-id="{{.Id}}">Challenge</a>
    </li>
  </ul>
{{end}}

<script type="text/javascript">
  $(document).on('click', '.js-challenge', function() {
    var $self = $(this);

    var boardId = $self.data('board-id'),
      toUserId = $self.data('user-id'),
      fromUserId = $('#from-user-id').val();

    $.post('/challenge/create', 
      { 
        boardId : boardId, 
        toUserId : toUserId, 
        fromUserId : fromUserId
      }, 
      function(data) {
        alert(data);
    });
  });
</script>
{{template "footer.html" .}}