<!DOCTYPE html>
<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
  {{if .session}}
    <header>
      Welcome {{.session.userFirstName}} {{.session.userLastName}} 
      <a href="/users/logout" class="no-ajax">Logout</a>
      <ul>
        <li class="js-dropdown">
          Challenges
          <ul id="user-challenges" style="display:none">
            <li>You have no challenges</li>
          </ul>
        </li>
      </ul>
    </header>
  {{end}}
  <section>
    <article>
      <header id="alerts">
        {{template "flash.html" .}}
      </header>